.comments-window-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  border-top: 2px dotted white;
  background-color: var(--background-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    margin-top: 10px;
    height: 10vh;

    textarea {
      width: 50%;
      border-radius: 1%;
      background-color: transparent;
      resize: none;
      overflow: auto;
    }
  }
}

.comment {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  margin: 5% auto;
  gap: 5%;
  border: 1px solid white;

  img {
    background-repeat: no-repeat;
    max-width: 20%;
    border-radius: 50%;
    margin: 5px;
  }

  span{
    max-width: 60%;
    width: 60%;
    word-wrap: break-word;
  }

  .trash {
    background-color: red;
    width: 4%;
    color: white;
    height: auto;
    position: absolute;
    top: 4px;
    right: 1%;
    border-radius: 10%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .trash:hover {
    background-color: #bd1f1f;
    transform: scale(1.2);
  }

  .trash:active {
    background-color: red;
  }

  .edit-button {
    background-color: blue;
    width: 4%;
    color: white;
    height: auto;
    position: absolute;
    top: 30px;
    right: 1%;
    border-radius: 10%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .edit-button:hover {
    background-color: #1a1ac6;
    transform: scale(1.2);
  }

  .edit-button:active {
    background-color: blue;
  }

}

.arrow-right {
  border-radius: 20%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  width: 5%;
  height: 25%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.arrow-right:hover {
  transform: scale(1.2);
}

.arrow-right:active {
  opacity: 0.8;
}
